<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Libro al Inventario</title>
    <!-- Cargar Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-uxJhgwGZtjKZ/kz+r68ByMk9O5u0y+gV7G1rE5rVH2OGjZC13V7xrsxJUNz9oNyJ1DyBQ2vKTYI6+8dO/EJVOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <h1>Agregar Libro al Inventario</h1>
        <form>
            <div class="row mb-3">
                <label for="titulo" class="col-sm-2 col-form-label">Título:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="titulo" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="autor" class="col-sm-2 col-form-label">Autor:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="autor" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="editorial" class="col-sm-2 col-form-label">Editorial:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="editorial" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="precio" class="col-sm-2 col-form-label">Precio:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="precio" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="cantidad" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Cargar los scripts de Bootstrap -->
    <script>
        src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
        integrity = "sha512-7ZmYX9uK7sIzLc0sTyqH1KQ2E7I0g0oTlrhxVYlX9rP07OxvMsmzOAbVRSJgr8dU6eK1TZLRuUJY37
    </script>
</body>
</html>